@import "tailwindcss";

:root {
  /* En Modo Claro, estas variables deben ser CLARAS */
  --bg-app: #f1f5f9;      /* Gris muy suave de fondo */
  --bg-sidebar: #ffffff;  /* BLANCO PURO para las tarjetas */
  --bg-button: #e2e8f0;
  --text-main: #0f172a;   /* Texto oscuro */
  --text-accent: #64748b;
  --border: #e2e8f0;
}

.dark {
  /* En Modo Oscuro, todo se invierte */
  --bg-app: #09090b;
  --bg-sidebar: #121214;
  --bg-button: #27272a;
  --text-main: #f8fafc;
  --text-accent: #a1a1aa;
  --border: #27272a;
}