@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
  }
  
  .dark {
    --background: #09090b;
    --foreground: #ffffff;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease;
}